Repository Pepper-Wood/prairiewatch.dog, changes with the labels that .github/labeler.yml gives for each.
All labels: 📕 Data, 🧩 Extension, 🐍 Scripts, 🌐 Website, 🐙 Meta

Implemented creating listing.json to the python scripts (#117)
  data/listing.json
  scripts/parse_yaml.py
Labels: 📕 Data, 🐍 Scripts

Updated parse_yaml.py to lowercase twitter and toyhouse handles
  data/toyhouse.json
  data/twitter.json
  data/websites.json
  database/generated/twitter_handles.json
  database/generated/twitter_user_ids.json
  database/generated/websites.json
  scripts/parse_yaml.py
Labels: 📕 Data, 🐍 Scripts

Update extension to correctly link up the alert icon and the details page in PWD (#118)
  extension/content.css
  extension/manifest.json
  extension/toyhouse.js
  extension/twitter.js
  extension/websites.js
Labels: 🧩 Extension

Populate details page for offenders on the website with their YAML information. (#124)
  OFFENSESQUEUE.md
  data/offenders/lularoe.yml
  data/offenders/noah-bradley.yml
  website/package-lock.json
  website/src/app/app-routing.module.ts
  website/src/app/app.component.html
  website/src/app/app.module.ts
  website/src/app/offender/offender.component.css
  website/src/app/offender/offender.component.html
  website/src/app/offender/offender.component.ts
  website/src/app/offenderslist/offenderslist.component.css
  website/src/app/offenderslist/offenderslist.component.html
  website/src/app/offenderslist/offenderslist.component.spec.ts
  website/src/app/offenderslist/offenderslist.component.ts
  website/src/app/offenseslist/offenseslist.component.css
  website/src/app/offenseslist/offenseslist.component.html
  website/src/app/offenseslist/offenseslist.component.spec.ts
  website/src/app/offenseslist/offenseslist.component.ts
  website/src/index.html
Labels: 📕 Data, 🌐 Website, 🐙 Meta

deploy: c181af70dfd875cfe2c1f92a8b81cb2231f4a665
  404.html
  index.html
  main-es2015.8c62515d7293827f096d.js
  main-es2015.ce9cbd22e1aee3c93529.js
  main-es5.8c62515d7293827f096d.js
  main-es5.ce9cbd22e1aee3c93529.js
  scripts.1b10333a7f57e7725d7a.js
  scripts.d782ab4939c5ef0c4cef.js
Labels: 🐙 Meta

Updated schema to include image_preview, flattened source entry
  data/offenders/drawinglywillingly.yml
  data/offenders/lularoe.yml
  data/offenders/noah-bradley.yml
  website/src/app/offender/offender.component.css
  website/src/app/offender/offender.component.html
Labels: 📕 Data, 🌐 Website

deploy: 0311cda77a87ef84c8f7653bff302222a6a2455b
  404.html
  index.html
  main-es2015.ce9cbd22e1aee3c93529.js
  main-es2015.df076d4a768906b17b6a.js
  main-es5.ce9cbd22e1aee3c93529.js
  main-es5.df076d4a768906b17b6a.js
Labels: 🐙 Meta

Added ArcSanity, created script to generate offender templates
  data/listing.json
  data/offenders/arcsanity.yml
  data/offenders/drawinglywillingly.yml
  data/offenders/lularoe.yml
  data/offenders/noah-bradley.yml
  data/offenders/ryan-haywood.yml
  data/stats.json
  data/toyhouse.json
  data/twitter.json
  data/websites.json
  scripts/create_offender.py
  scripts/parse_yaml.py
  scripts/templates/offender_template.yml
Labels: 📕 Data, 🐍 Scripts

Added Argodeon artwork, revamped home page, added favicon for now
  .gitignore
  data/offenders/drawinglywillingly.yml
  data/websites.json
  website/angular.json
  website/src/app/app.component.html
  website/src/app/home/home.component.css
  website/src/app/home/home.component.html
  website/src/app/offender/offender.component.html
  website/src/assets/argodeon.png
  website/src/assets/doggo.png
  website/src/assets/exclamationpoint.svg
  website/src/assets/twittermock.png
  website/src/favicon.png
  website/src/index.html
  website/src/styles.css
Labels: 📕 Data, 🌐 Website, 🐙 Meta

deploy: 746c0d33812721eeeb11f55c271fa452a76b6ba7
  404.html
  argodeon.7085d253e6b4d60db487.png
  assets/argodeon.png
  assets/doggo.png
  assets/exclamationpoint.svg
  assets/twittermock.png
  favicon.ico
  favicon.png
  index.html
  main-es2015.df076d4a768906b17b6a.js
  main-es2015.f0cd72cd8571cb17ab56.js
  main-es5.df076d4a768906b17b6a.js
  main-es5.f0cd72cd8571cb17ab56.js
  styles.0e4338761429b4eb16ac.css
  styles.80232a3c349b1e484870.css
Labels: 🐙 Meta

Updated to main branch syntax; WIP for new offenders
  .github/dependabot.yml
  .github/workflows/api-deploy.yml
  .github/workflows/website-deploy.yml
  .github/workflows/website-test.yml
  data/offenders/arcsanity.yml
  data/offenders/destiny4love21.yml
  extension/toyhouse.js
  extension/twitter.js
  extension/websites.js
  website/src/app/offender/offender.component.ts
  website/src/app/offenderslist/offenderslist.component.ts
Labels: 📕 Data, 🧩 Extension, 🌐 Website, 🐙 Meta

deploy: 0200acc36312bd0a1c75e670a1ebc84faabeac98
  404.html
  index.html
  main-es2015.7941d2a370e077b85193.js
  main-es2015.f0cd72cd8571cb17ab56.js
  main-es5.7941d2a370e077b85193.js
  main-es5.f0cd72cd8571cb17ab56.js
Labels: 🐙 Meta

Added links to Trello and new Discord server
  README.md
Labels: 🐙 Meta

Migrated offenses list to Trello board
  OFFENSESQUEUE.md
Labels: 🐙 Meta

Removed Discord server entry for now
  README.md
Labels: 🐙 Meta

.github/labeler.yml:

"📕 Data": data/**/*
"🧩 Extension": extension/**/*
"🐍 Scripts": scripts/**/*
"🌐 Website": website/**/*
"🐙 Meta":
- .github/**/*
- ./*
