Repository Pepper-Wood/prairiewatch.dog, changes with the labels that .github/labeler.yml gives for each.
All labels: 📡 API, 📕 Database, 🧩 Extension, 🌐 Website, 🐙 Meta

.github/labeler.yml:

"📡 API": api/**/*
"📕 Database": database/**/*
"🧩 Extension": extension/**/*
"🌐 Website": website/**/*
"🐙 Meta":
- .github/**/*
- ./*

Day 27 | Updated DEVLOG
  DEVLOG.md
Labels: 🐙 Meta

Day 29 | Updated /api folder with working set up for Acquia remote
  DEVLOG.md
  api/.htaccess
  api/composer.lock
  api/index.php
  api/private/regenerateDatabase.php
  api/private/validateOffenders.php
  api/public/index.php
  api/routes/checkOffenders.php
  api/routes/getOffender.php
Labels: 📡 API, 🐙 Meta

Day 29 | Added initial api-deploy.yml setup
  .github/workflows/api-deploy.yml
Labels: 🐙 Meta

Day 29 | Bump api/index.php to test the api-deploy workflow
  api/index.php
Labels: 📡 API

Day 29 | Fixup: update api-deploy syntax, rebump api
  .github/workflows/api-deploy.yml
  api/index.php
Labels: 📡 API, 🐙 Meta

Day 29 | Set up GitHub Actions for API deployment to Acquia (#46)
  .github/workflows/api-deploy.yml
  DEVLOG.md
  api/index.php
  main.py
Labels: 📡 API, 🐙 Meta

Test: trying another index.php deploy for acquia-api
  api/index.php
Labels: 📡 API

deploy: 65ce4b1c8838237dada0886e154df228ae23ee5a
  404.html
  index.html
  main-es2015.6d18f1ac2fd6fde769ef.js
  main-es2015.a68fe0be765995b199cc.js
  main-es5.6d18f1ac2fd6fde769ef.js
  main-es5.a68fe0be765995b199cc.js
  scripts.c8c309b19d4c36d6b48e.js
  scripts.d4986fedc4de05c6eabd.js
  styles.231d02bde4ff99b63776.css
  styles.bac399d6e4d851e4eda6.css
Labels: 🐙 Meta

deploy: 6c98ebf0e5b0f8c42c067a090b786e2ad90e2945
  404.html
  index.html
  main-es2015.79f8f76e8680dc21c442.js
  main-es2015.a68fe0be765995b199cc.js
  main-es5.79f8f76e8680dc21c442.js
  main-es5.a68fe0be765995b199cc.js
  scripts.22b0ec8eb35b0cdcee4d.js
  scripts.d4986fedc4de05c6eabd.js
Labels: 🐙 Meta

Adding starter Toyhouse profiles
  data/toyhouse.json
Labels: none

Updated extension to tag example users on Toyhouse; added more PSA links
  data/toyhouse.json
  extension/content.css
  extension/js/jquery-3.5.1.min.js
  extension/js/jquery-3.5.1.slim.min.js
  extension/manifest.json
  extension/th-test.js
  extension/toyhouse.js
  extension/twitter.js
Labels: 🧩 Extension

Exclude master when checking the 'website-test' action
  .github/workflows/website-test.yml
Labels: 🐙 Meta

deploy: 9d4864a6c435f7ef41e3d1df5da5d8e63b308379
  404.html
  index.html
  main-es2015.18ec1308474eb44f6a60.js
  main-es2015.79f8f76e8680dc21c442.js
  main-es5.18ec1308474eb44f6a60.js
  main-es5.79f8f76e8680dc21c442.js
  scripts.22b0ec8eb35b0cdcee4d.js
  scripts.a489194107e8d53549df.js
  styles.19010b9443222d06d444.css
  styles.bac399d6e4d851e4eda6.css
Labels: 🐙 Meta

deploy: 989d38e62a40e45b262e2030dd537c4feeddd937
  404.html
  index.html
  main-es2015.18ec1308474eb44f6a60.js
  main-es2015.8eb5f296b99cd3afd1dc.js
  main-es5.18ec1308474eb44f6a60.js
  main-es5.8eb5f296b99cd3afd1dc.js
  polyfills-es2015.09ee2f719bd21ab5c7b1.js
  polyfills-es2015.4eb191482be2254421ff.js
  polyfills-es5.12b5c32d1603e35dd556.js
  polyfills-es5.212e1daaa7ab7b9975d1.js
  runtime-es2015.66c79b9d36e7169e27b0.js
  runtime-es5.66c79b9d36e7169e27b0.js
  scripts.a489194107e8d53549df.js
  styles.19010b9443222d06d444.css
  styles.34c1667d2347ae874da2.css
Labels: 🐙 Meta

Removed ApiComponent from website
  website/angular.json
  website/package-lock.json
  website/package.json
  website/src/app/api/api.component.css
  website/src/app/api/api.component.html
  website/src/app/api/api.component.spec.ts
  website/src/app/api/api.component.ts
  website/src/app/app-routing.module.ts
  website/src/app/app.component.html
  website/src/app/app.module.ts
Labels: 🌐 Website

Removed api/ folder
  api/.gitignore
  api/.htaccess
  api/composer.json
  api/composer.lock
  api/index.php
  api/routes/checkOffenders.php
  api/routes/getOffender.php
  api/spec.yml
Labels: 📡 API

deploy: 3c41b32cf277ff9e53db211a052c30dda144ff39
  3rdpartylicenses.txt
  404.html
  index.html
  main-es2015.40f9a2aa862d6323ffbd.js
  main-es2015.8eb5f296b99cd3afd1dc.js
  main-es5.40f9a2aa862d6323ffbd.js
  main-es5.8eb5f296b99cd3afd1dc.js
  scripts.94f43bc3c0c922399b75.js
  scripts.a489194107e8d53549df.js
  styles.34c1667d2347ae874da2.css
  styles.80232a3c349b1e484870.css
Labels: 🐙 Meta

Re-removed api-related folders
  api2/.gitignore
  api2/Controller/ApiController.php
  api2/Controller/CheckOffendersController.php
  api2/Controller/OffendersController.php
  api2/Routes.php
  api2/composer.json
  api2/composer.lock
  api2/public/index.php
  slim4-tutorial-master/.gitignore
  slim4-tutorial-master/.htaccess
  slim4-tutorial-master/README.md
  slim4-tutorial-master/composer.json
  slim4-tutorial-master/composer.lock
  slim4-tutorial-master/config/bootstrap.php
  slim4-tutorial-master/config/container.php
  slim4-tutorial-master/config/middleware.php
  slim4-tutorial-master/config/routes.php
  slim4-tutorial-master/config/settings.php
  slim4-tutorial-master/logs/empty
  slim4-tutorial-master/phpunit.xml
  slim4-tutorial-master/public/.htaccess
  slim4-tutorial-master/public/index.php
  slim4-tutorial-master/src/Action/HomeAction.php
  slim4-tutorial-master/src/Action/OffendersCheckAction.php
  slim4-tutorial-master/src/Action/OffendersGetAction.php
  slim4-tutorial-master/src/Action/UserCreateAction.php
  slim4-tutorial-master/src/Action/UserReadAction.php
  slim4-tutorial-master/src/Domain/User/Data/UserData.php
  slim4-tutorial-master/src/Domain/User/Repository/UserCreatorRepository.php
  slim4-tutorial-master/src/Domain/User/Repository/UserReaderRepository.php
  slim4-tutorial-master/src/Domain/User/Service/UserCreator.php
  slim4-tutorial-master/src/Domain/User/Service/UserReader.php
  slim4-tutorial-master/src/Exception/ValidationException.php
  slim4-tutorial-master/tests/AppTestTrait.php
  slim4-tutorial-master/tests/TestCase/Action/UserReaderActionTest.php
  slim4-tutorial-master/tests/TestCase/Domain/User/Service/UserCreatorTest.php
  slim4-tutorial-master/tests/empty
  slim4-tutorial-master/tmp/empty
Labels: none

Added method to pull JSON file (and non-working method to pull YAML file)
  website/angular.json
  website/package-lock.json
  website/package.json
  website/src/app/entry/entry.component.html
  website/src/app/entry/entry.component.ts
Labels: 🌐 Website

deploy: e09340e7c1f7fb22728e4954c5e2e6d355a9f67b
  3rdpartylicenses.txt
  404.html
  index.html
  main-es2015.40f9a2aa862d6323ffbd.js
  main-es2015.e45182cf90513f28c7df.js
  main-es5.40f9a2aa862d6323ffbd.js
  main-es5.e45182cf90513f28c7df.js
  scripts.94f43bc3c0c922399b75.js
  scripts.d782ab4939c5ef0c4cef.js
Labels: 🐙 Meta

Display YAML file on webpage (#106)
  data/drawinglywillingly.json
  data/lularoe.json
  data/noah-bradley.json
  database/offenders/0680b520-0252-440f-953c-fcec27740a45.yml
  website/package-lock.json
  website/package.json
  website/src/app/entry/entry.component.css
  website/src/app/entry/entry.component.html
  website/src/app/entry/entry.component.ts
Labels: 📕 Database, 🌐 Website

deploy: 44389656a928738d910d65b0a8d8149230a21f9b
  3rdpartylicenses.txt
  404.html
  index.html
  main-es2015.417d425e807e096fa163.js
  main-es2015.e45182cf90513f28c7df.js
  main-es5.417d425e807e096fa163.js
  main-es5.e45182cf90513f28c7df.js
  polyfills-es2015.1e6a61e9c40421d0e001.js
  polyfills-es2015.4eb191482be2254421ff.js
  polyfills-es5.212e1daaa7ab7b9975d1.js
  polyfills-es5.2899603b24300e40aa07.js
Labels: 🐙 Meta

Renamed Entry -> Offender, adding DrawinglyWillingly slowly
  data/drawinglywillingly.json
  data/lularoe.json
  data/noah-bradley.json
  data/offenders/drawinglywillingly.yml
  data/offenders/lularoe.yml
  data/offenders/noah-bradley.yml
  database/schemas/offenders.yml
  website/src/app/app-routing.module.ts
  website/src/app/app.module.ts
  website/src/app/offender/offender.component.css
  website/src/app/offender/offender.component.html
  website/src/app/offender/offender.component.spec.ts
  website/src/app/offender/offender.component.ts
Labels: 📕 Database, 🌐 Website

deploy: 41bcdb7f750a81cbb564ba6241b5d517aea17899
  404.html
  index.html
  main-es2015.417d425e807e096fa163.js
  main-es2015.ba9189f72fe9e74e6080.js
  main-es5.417d425e807e096fa163.js
  main-es5.ba9189f72fe9e74e6080.js
Labels: 🐙 Meta

Updated Angular routing, fixup in Drawingly's title
  data/offenders/drawinglywillingly.yml
  website/src/app/app-routing.module.ts
  website/src/app/offender/offender.component.html
Labels: 🌐 Website

Disabled database-test Github Actions workflow
  .github/workflows/database-test.txt
Labels: 🐙 Meta

deploy: 58a0165dbf517eebd942bb3e8fa87eef2db7dbf2
  404.html
  index.html
  main-es2015.8c62515d7293827f096d.js
  main-es2015.ba9189f72fe9e74e6080.js
  main-es5.8c62515d7293827f096d.js
  main-es5.ba9189f72fe9e74e6080.js
Labels: 🐙 Meta

Added start of Cameron Sharpe to archive WIP work
  data/offenders/cameron-sharpe.yml
Labels: none
