Repository Pepper-Wood/prairiewatch.dog, changes with the labels that .github/labeler.yml gives for each.
All labels: 📡 API, 🧩 Extension, 🌐 Website, 🐙 Meta

Fixup: updated CNAME file creation location
  .github/workflows/website-deploy.yml
  website/src/index.html
Labels: none

deploy: 89525fac0047bd507852ed88e7c9c11e8a1ca2e4
  404.html
  CNAME
  index.html
Labels: 🐙 Meta

Day 20 | Project organize, added Trello for now
  DEVLOG.md
  README.md
  TODO.md
  database/offenders/lularoe.yml
  database/offenders/redbubble-art-theft.yml
  database/offenses/grooming.md
  database/offenses/multi-level-marketing.md
  documentation.md
Labels: 🐙 Meta

Day 22 | Work-in-progress test with SleekDB in the API (#35)
  DEVLOG.md
  Makefile
  TODO.md
  api/.gitignore
  api/composer.json
  api/composer.lock
  api/entries.json
  api/instagram.json
  api/listings/twitter.yml
  api/phptesting/composer.json
  api/phptesting/public/index.php
  api/public/index.php
  api/public/routes/getOffender.php
  api/public/routes/getOffenders.php
  api/twitter.json
  api/twitter_usernames.json
  api/websites.json
  api/whaddup.php
Labels: 📡 API, 🐙 Meta

Day 23 | Removing SleekDB dependencies
  api/composer.json
  api/composer.lock
  api/public/routes/getOffender.php
  api/public/routes/getOffenders.php
  api/whaddup.php
Labels: 📡 API

Day 23 | Rework database/offenders/ files for calling from PHP
  Makefile
  database/offenders/0680b520-0252-440f-953c-fcec27740a45.yml
  database/offenders/4ed9aad9-a070-4fc4-9f9c-cfd87756e72d.yml
  database/offenders/redbubble-art-theft.yml
Labels: 🐙 Meta

Day 23 | Refactored spec.yml, created yml listings in 'database/' for calling file_get_contents
  DEVLOG.md
  api/composer.json
  api/composer.lock
  api/public/index.php
  api/public/routes/checkOffenders.php
  api/public/routes/getOffender.php
  api/public/routes/getOffenderCounts.php
  api/public/routes/getOffenders.php
  api/spec.yml
  database/listing/twitter.yml
  database/listing/websites.yml
  database/offenders/0680b520-0252-440f-953c-fcec27740a45.yml
  database/offenders/4ed9aad9-a070-4fc4-9f9c-cfd87756e72d.yml
Labels: 📡 API, 🐙 Meta

Day 23 | Implemented checkOffenders.php
  api/public/routes/checkOffenders.php
  api/public/routes/getOffender.php
  api/public/routes/getOffenderCounts.php
  api/spec.yml
Labels: 📡 API

Day 23 | Updated DEVLOG
  DEVLOG.md
Labels: 🐙 Meta

Day 24 | Set up potential PHP cron files for assembling the other JSON data structures
  DEVLOG.md
  api/private/regenerateDatabase.php
  api/private/validateOffenders.php
  database/generated/twitter_handles.json
  database/generated/twitter_user_ids.json
  database/generated/websites.json
  database/listing/twitter.yml
  database/listing/websites.yml
  database/offenders/0680b520-0252-440f-953c-fcec27740a45.yml
  database/offenders/4ed9aad9-a070-4fc4-9f9c-cfd87756e72d.yml
Labels: 🐙 Meta

Day 25 | Attempt for setting up offenders yaml validation
  DEVLOG.md
  testdata.yml
  testschema.yml
Labels: 🐙 Meta

deploy: 777a24d09afe1beacbeaffca53d6c7ce0a560286
  404.html
  index.html
  main-es2015.46411912419c5d8b43f8.js
  main-es2015.82034ec566c9c4267212.js
  main-es5.46411912419c5d8b43f8.js
  main-es5.82034ec566c9c4267212.js
  scripts.be969f1d1a56ad76005b.js
  scripts.c8c309b19d4c36d6b48e.js
Labels: 🐙 Meta

deploy: 259ec28ae95d22afb4b4bdec4308e16723f62b51
  404.html
  index.html
  main-es2015.82034ec566c9c4267212.js
  main-es2015.ccabeb1326830cb8f1a9.js
  main-es5.82034ec566c9c4267212.js
  main-es5.ccabeb1326830cb8f1a9.js
Labels: 🐙 Meta

deploy: 69bb9d9b3fb19f22c1b869e56b3af74fd486e007
  404.html
  index.html
  main-es2015.6d18f1ac2fd6fde769ef.js
  main-es2015.ccabeb1326830cb8f1a9.js
  main-es5.6d18f1ac2fd6fde769ef.js
  main-es5.ccabeb1326830cb8f1a9.js
Labels: 🐙 Meta

.github/labeler.yml:

"📡 API": api/*
"🧩 Extension": extension/*
"🌐 Website": website/*
"🐙 Meta":
- .github/*
- ./*
